{% extends 'app/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>User Change Password</h5>
            </div>
            <div class="card-body">
                <form method="POST">{% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-lg btn-primary" type="submit">Save</button>
                    <a href="{% url 'user_list' %}" class="btn btn-lg btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}